body {
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 200%;
    margin: 0;
    padding: 0;
}

.header {
    background-color:#ffffff;
    border-bottom: #dddddd solid 3px;
    height: 90px;
    float: left;
    width: 100%;
}

h1 {
    color: #ffffff;
    background-color:#4aaaa5;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    padding-top: 30px;
    padding-bottom: 28px;
    margin-right: 10%;
    margin-top: 0px;
    text-align:center;
    margin-left: 160px;
    width: 300px;
}

ul {
    margin-top: -80px;
    padding: 0;
    margin-right: 120px;
    list-style: none;
}

li {
    float: right;
}

nav a {
    width: 20%;
    display:block;
    text-decoration: none;
    color:#bbb8b8;
    text-align: center;
    font-size: 17px;
    padding: 2px 2px;
    margin-right: 7px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding-right: 35px;
}

#form {
    color:#777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    min-width: 650px;
    margin-left: 40px;
}

.container {
    float: left;
    width: 650px;
    background-color:#ffffff;
    align-content: center;
    padding:0px;
    margin-top:40px;
    margin-bottom:40px;
    margin-left:160px;
    margin-right: 0px;
    padding-left:0px;
    padding-right:0px;
}

#contact-links {
    width: 230px;
    align-content: center;
    float: right;
    background-color:#ffffff;
    padding:20px;
    margin-top:40px;
    margin-bottom:40px;
    margin-right: 160px;
    position: static;
}

footer {
    clear: both;
    text-align: center;
    overflow: auto;
    padding:30px;
    background:#666666;
    color:#dddddd;
    border-top: #4aaaa5 10px solid;
    font-size: 12px;
}

.link-1, .link-2 {
    margin: 2px;
    height: 70px;
    width: 70px;
    padding-right:3px;
}

.link-3 {
    height: 63px;
    width: 63px;
    margin: 2px;
    padding: 2.5px;
}

h2, h3 {
    color:#4aaaa5;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    border-bottom: #dddddd solid 2px;
    padding-bottom: 20px;
}

h2 {
    margin-right: 40px;
}

.Pclass {
    margin-left: 40px;
    margin-top: 40px;
}

input {
    color:#777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    display: inline-block;
    overflow: auto;
    padding-left: 20px;
}

textarea {
    color:#777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    display: inline-block;
    overflow: auto;  
}

button {
    color: #ffffff;
    background-color:#4aaaa5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

#main-bio {
    float: left;
    width: 610px;
    background-color:#ffffff;
    align-content: center;
    padding-top:20px;
    padding-bottom:40px;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    padding-left:40px;
    padding-right: 0px;
}

img {
    margin-right: 20px;
    float: left;
}

.profile-img {
    padding-top: 30px;
}

p {
    color:#777777;
    padding-left: 0px;
    width: 550px;
    padding-top: 20px;
}

.text-block {
    background-color:#4aaaa5;
    color:#ffffff;
    text-align: center;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    margin-left: 30px;
    margin-right: 40px;
    margin-top: -23px;
    margin-bottom: 0px;
    font-size:22px;
    padding-left: -10px;
    padding-right: -10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 250px;
    position: relative;
    top:190px;
    right:50px;
    left: -30px;
}

.portfolio {
    margin-left:0px;
    margin-right: 0px;
    margin-top: 0px;
}

table {
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 50px;
}